.dish-card {
    border-radius: 31px;
    min-width: 30%;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.dish-card * {
    border-radius: inherit;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    padding: 0 1rem;
}

.card-img > img {
    min-width: 100%;
    object-fit: cover;
    height: 15rem;
}

.card-action-btn {
    border-radius: 98px;
    outline: none;
    border: none;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 1rem;
    cursor: pointer;
}
